Repository gunar/shellcheck: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint --fix

refactor: drop support for Node.js versions that do not match >=20.9.0
  .nvmrc
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
Due: prettier --write, markdownlint --fix

ci: removed Node.js 18
  .github/workflows/ci.yml
Due: none

fix: package-lock.json
  package-lock.json
Due: none

ci: added Node.js 24
  .github/workflows/ci.yml
Due: none

ci: license workflow
  .github/workflows/license.yml
Due: none

ci: github actions in dependabot
  .github/dependabot.yml
Due: none

chore(deps): update @types/node to 20.9.0
  package-lock.json
  package.json
Due: none

chore: npm provenance
  .github/workflows/ci.yml
  package.json
Due: none

ci: updated github actions
  .github/workflows/codeql.yml
Due: none

chore: updated prettier and fix
  .prettierrc
  README.md
  bin/shellcheck.js
  cspell.json
  package-lock.json
  package.json
  src/configs/config.ts
  src/configs/env.ts
  src/errors/ArchitectureError.ts
  src/helpers/download.ts
  src/logger/Logger.ts
  src/logger/LoggerLevel.ts
  src/shellcheck.ts
  src/utils/buildURL.ts
  src/utils/narrow.ts
  src/utils/request.ts
  src/utils/shellCheckArchitecture.ts
  src/utils/shellCheckArchive.ts
  src/utils/shellCheckPlatform.ts
  tests/helpers/index.ts
  tests/shellcheck/architecture.test.ts
  tests/shellcheck/platform.test.ts
  tests/shellcheck/quoting/quoting.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write, markdownlint --fix

chore: update changelog for v4.0.0 release
  CHANGELOG.md
Due: prettier --write, markdownlint --fix

feat: support platform linux architecture riscv64
  CHANGELOG.md
  README.md
  cspell.json
  src/configs/config.ts
  src/types/ShellCheckArchitecture.ts
  tests/helpers/index.ts
Due: eslint --fix, prettier --write, markdownlint --fix

chore: update package.json to 4.1.0
  package.json
Due: none

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.md)
  markdownlint --fix: any of: *.md
