Repository gunar/shellcheck: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint --fix

docs: fix link
  README.md
Due: prettier --write, markdownlint --fix

fix: codeowners
  .github/CODEOWNERS
Due: none

fix: npm registry in ci
  .github/workflows/ci.yml
Due: none

fix: support node v14 fs constants
  src/helpers/download.ts
  src/shellcheck.ts
Due: eslint --fix, prettier --write

fix: support decompress windows
  cspell.json
  package-lock.json
  package.json
  src/@types/decompress-tarxz.d.ts
  src/helpers/download.ts
Due: eslint --fix, prettier --write

chore: removed support for node 14
  .github/workflows/ci.yml
  .npmrc
  .nvmrc
  package.json
  src/helpers/download.ts
  src/shellcheck.ts
Due: eslint --fix, prettier --write

feat: eol forced to be lf
  .gitattributes
  .prettierrc
Due: none

fix: ci github rate limit
  .github/workflows/ci.yml
  README.md
  bin/shellcheck.js
  src/helpers/download.ts
  src/shellcheck.ts
  src/utils/buildURL.ts
  src/utils/request.ts
Due: eslint --fix, prettier --write, markdownlint --fix

fix: copy shellcheck instead of move from tmp to destination due to windows error
  package-lock.json
  src/helpers/download.ts
Due: eslint --fix, prettier --write

test: regex match windows new line in replace
  tests/shellcheck/quoting/quoting.test.ts
Due: eslint --fix, prettier --write

chore: added node types
  package-lock.json
  package.json
Due: none

docs: better github token info
  README.md
Due: prettier --write, markdownlint --fix

feat: support es2016 instead of es2015
  tsconfig.json
Due: none

chore(todo): added todo move instead of copy
  src/helpers/download.ts
Due: eslint --fix, prettier --write

feat: binary directory in config
  src/configs/config.ts
  src/shellcheck.ts
Due: eslint --fix, prettier --write

chore(ci): github token only for test step
  .github/workflows/ci.yml
Due: none

chore(ci): directly setting github token in ci
  .github/workflows/ci.yml
Due: none

chore(ci): serial execution
  .github/workflows/ci.yml
Due: none

fix: token is set in shellcheck and not bin
  .github/workflows/ci.yml
  bin/shellcheck.js
  src/shellcheck.ts
Due: eslint --fix, prettier --write

chore(ci): check package version match with git tag
  .github/workflows/ci.yml
Due: none

docs: fix github warning emoji
  bin/README.md
Due: prettier --write, markdownlint --fix

doc: better readme, added contributing and changelog
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  cspell.json
  src/shellcheck.ts
Due: eslint --fix, prettier --write, markdownlint --fix

chore: pre release v2.0.0
  .github/workflows/ci.yml
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, markdownlint --fix

chore(release): update release date
  CHANGELOG.md
Due: prettier --write, markdownlint --fix

docs(changelog): update release date
  CHANGELOG.md
Due: prettier --write, markdownlint --fix

fix: changelog and engine version order
  CHANGELOG.md
  package.json
Due: prettier --write, markdownlint --fix

feat: support for darwin arm64
  CHANGELOG.md
  README.md
  src/configs/config.ts
  tests/helpers/index.ts
Due: eslint --fix, prettier --write, markdownlint --fix

chore(deps-dev): update dev dependencies
  package-lock.json
  package.json
Due: none

chore: update version
  package.json
Due: none

feat: darwin arm64 native binary and proxy
  CHANGELOG.md
  README.md
  cspell.json
  package-lock.json
  package.json
  src/@types/decompress-tarxz.d.ts
  src/@types/decompress-unzip.d.ts
  src/configs/config.ts
  src/errors/ArchitectureError.ts
  src/errors/PlatformError.ts
  src/helpers/download.ts
  src/types/ShellCheckArchitecture.d.ts
  src/types/ShellCheckPlatform.d.ts
  src/utils/buildURL.ts
  src/utils/request.ts
  src/utils/shellCheckArchitecture.ts
  src/utils/shellCheckPlatform.ts
  tests/helpers/index.ts
Due: eslint --fix, prettier --write, markdownlint --fix

chore(codeowners): add carlocorradini
  .github/CODEOWNERS
Due: none

docs: better readme programmatic example
  README.md
Due: prettier --write, markdownlint --fix

feat: configuring logger level and release via environment variables, deprecated node.js < 18.12.0
  .github/workflows/ci.yml
  .nvmrc
  .vscode/extensions.json
  .vscode/settings.json
  CHANGELOG.md
  README.md
  cspell.json
  package-lock.json
  package.json
  src/configs/config.ts
  src/configs/env.ts
  src/logger/Logger.ts
  src/logger/LoggerLevel.ts
  src/utils/arrayOfAll.ts
  src/utils/index.ts
  src/utils/narrow.ts
  tests/helpers/index.ts
  tests/utils/arrayOfAll.ts
  tests/utils/index.ts
Due: eslint --fix, prettier --write, markdownlint --fix

ci: added node 22
  .github/workflows/ci.yml
Due: none

fix: prettier
  src/configs/env.ts
  src/utils/narrow.ts
Due: eslint --fix, prettier --write

chore: bump version
  package.json
Due: none

fix: prettier
  src/utils/arrayOfAll.ts
  src/utils/narrow.ts
Due: eslint --fix, prettier --write

chore: bump to v3.0.0
  package-lock.json
Due: none

feat: configure shellcheck binary via env variable
  .vscode/settings.json
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
  src/configs/config.ts
  src/configs/env.ts
  src/shellcheck.ts
Due: eslint --fix, prettier --write, markdownlint --fix

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.md)
  markdownlint --fix: any of: *.md
